/* navigation bar */
/* <link rel="stylesheet" href = "navbar.css">
<?php include "navbar.php"; ?> */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2e5d1a;
    padding: 12px 30px;
}

.leftnav, .rightnav {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}




html, body {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.main-content {
    flex: 1;
}


footer {
    background: #2e5d1a;
    color: white;
    text-align: center;
    padding: 20px;
}